body {
  background-color: #fee4e7;
}

.formation {
  background-color: rgb(18, 209, 18);
}

h2 {
  color: #004aad;
}

.date {
  color: rgb(211, 31, 31);
}

.comp {
  color: rgb(211, 31, 31);
}
.corps {
  display: flex;
  flex-direction: c;
}
.ecole {
  flex: 1;
}
.autre {
  flex: 2;
}
